PORT=5000
MONGO_URL=mongodb+srv://<user>:<password>@<your_cluster>.vliarex.mongodb.net/<cafeDB>
SECRET_KEY_JWT=mysecretJWTnode
GOOGLE_CLIENT_ID=241017935846-ml4k5ehfn7a9hs42h7v70iia80ln95i8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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